.container{
  margin: 0 auto;
  .list{
    height: 300px;
    margin: 0 auto;
    width: 650px;
    display: block;
    transition: 0.6s ease;
    &:hover{
      background-color: #E8E8E8;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .info{
      float: left;
      padding-left: 15px;
      h1{
        padding-top: 50px;
        color: #3333FF;
      }
      h3{
        color: #BEBEBE;
      }
    }
    img{
      float: right;
      padding-right: 10px;
      top: 50px;
      width: 200px;
      height: 200px;
      position: relative;
      border-radius: 50px;
    }
  }
}
